.App {
    text-align: center;
}

.image-grid {
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: contained;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    cursor: zoom-in;
}

.file-uploader {
    width: 100%;
}
