.App {
    text-align: center;
}

.image-grid {
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: contained;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    cursor: zoom-in;
}

.file-uploader {
    width: 100%;
}

video {
    transform: scaleX(-1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

@keyframes map-flow {
    0% {
        background-position: 0% 0%;
        stroke-dashoffset: 0;
    }
    100% {
        background-position: 100% 0%;
        stroke-dashoffset: 15;
    }
}

.gps-direction-flow {
  animation: map-flow 2s linear infinite !important;
  z-index: 1;
}
